@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

@layer base {
  @font-face {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/Satoshi-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: "Twist";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/Twist-Regular.otf) format("opentype");
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.pulse:hover {
  animation: pulse 1s infinite;
}

/* .pulse:hover {
  animation: pulse 1s infinite;
} */
